<div
  (click)='modalService.close()'
  class='bg-black/50 fixed top-0 right-0 left-0 bottom-0'></div>
<div class='w-[500px] absolute rounded top-16 p-6 bg-white left-1/2 -translate-x-1/2'>
  <h1 class='text-center mb-2 text-lg'>{{ title | titlecase }}</h1>
  <ng-content></ng-content>
</div>
