

<input  [(ngModel)]='term' class="mb-2 border py-2 px-2 w-full" placeholder="filter..." type="text"/>

<p *ngIf='loading' class='text-center text-lg'>loading...</p>


<div *ngIf='productService.products'>
  <app-product
    *ngFor='let product of productService.products | filterProducts:term; let i = index'
    [product]='product'
  ></app-product>
</div>

<button
  (click)='modalService.open()'
  class='rounded-full bg-red-700 text-white fixed right-5 bottom-5 shadow py-2 px-4' >
  +
</button>

<app-modal *ngIf='modalService.isVisible$ | async' title="Create New Product" >
  <app-create-product></app-create-product>
</app-modal>
