<div class="py-4 px-6 border rounded flex items-center flex-col mb-2 text-center">
  <img [src]='product.image' [alt]='product.title' class='w-1/6 mb-2'/>
  <h2 class='mb-2 text-md text-center'>{{ product.title }}</h2>
  <p>Price : <span class='font-bold'>{{ product.price | currency : "PLN " }}</span></p>
  <button
    (click)='details = !details'
    class='hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow'
    [ngClass]="{
    'bg-white-500' : details,
    'bg-blue-500' : !details
    }"

  >{{ details ? "Hide " : "Show " }}more...</button>
  <div *ngIf='details'>
    <p class='text-justify'>{{ product.description }}</p>
    <p>Score of the product: <span [ngStyle]='{ fontWeight : "bold"}'>{{product.rating.rate | number : '1.2-4'}}</span></p>
  </div>

</div>
