<nav class='absolute top-0 px-5 right-0 left-0 h-[50px] flex justify-between item-center text-white bg-gray-500'>
  <h1 class="text-3xl text-center font-bold underline">
    {{ title | titlecase }}
  </h1>
  <span class='text-center'>
    <a class='mr-2' routerLink='/'>Products</a>
    <a class='mr-2' routerLink='/about'>About</a>
  </span>
</nav>
