<form [formGroup]='form' (ngSubmit)='submit()' >
  <input
    class="mb-2 border py-2 px-4 w-full"
    type='text'
    placeholder='Product name'
    formControlName='title'
    appFocus=''
  />
  <p
    *ngIf="title.errors?.minlength && title.touched"
    class='text-red-600 font-medium mb-2'>This title is too short Now your title is {{ title.value?.length }} characters</p>
  <button
    type='submit'
    class='hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow'> Create</button>
</form>
